<ion-header>
  <ion-toolbar>
    <ion-title>
      Nueva Deuda
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <br>
    <ion-item lines="none">
      <ion-label>Fecha</ion-label>
      <ion-datetime value="{{year}}-{{mes}}-{{dia}}" min="2019-01" max="2030" [dayShortNames]="customDayShortNames"
        displayFormat="DD-MM-YYYY" monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des">
      </ion-datetime>
    </ion-item>
    <ion-item lines="full" class="ingresoValores">
      <ion-label position="floating">Monto</ion-label>
      <ion-input inputmode="numeric"></ion-input>
    </ion-item>
    <br><br>
    <ion-item lines="none">
      <ion-label>Cuenta</ion-label>
      <ion-select multiple="false">
        <ion-select-option value="Mastercard">Mastercard</ion-select-option>
        <ion-select-option value="CMR">CMR</ion-select-option>
        <ion-select-option value="Cencosud">Cencosud</ion-select-option>
        <ion-select-option value="Visa">Visa</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-item lines="none">
      <ion-label>Cantidad de cuotas</ion-label>
      <ion-select multiple="false">
        <ion-select-option value="01">01</ion-select-option>
        <ion-select-option value="02">02</ion-select-option>
        <ion-select-option value="03">03</ion-select-option>
        <ion-select-option value="04">04</ion-select-option>
        <ion-select-option value="04">05</ion-select-option>
        <ion-select-option value="04">06</ion-select-option>
        <ion-select-option value="04">07</ion-select-option>
        <ion-select-option value="04">08</ion-select-option>
        <ion-select-option value="04">09</ion-select-option>
        <ion-select-option value="04">10</ion-select-option>
        <ion-select-option value="04">11</ion-select-option>
        <ion-select-option value="04">12</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-item lines="none">
      <ion-label>Fecha primera cuota</ion-label>
      <ion-datetime value="{{year}}-{{mes}}-{{dia}}" min="2019-01" max="2030" [dayShortNames]="customDayShortNames"
        displayFormat="DD-MM-YYYY" monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des">
      </ion-datetime>
    </ion-item>
    <br><br>
    <ion-button expand="block">Guardar</ion-button>
    <br>
  </ion-card>
</ion-content>