<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalle Deudas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid fixed="true">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Cargar mes actual</ion-label>
          </ion-item>
          <ion-button expand="block">Cargar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
  </ion-card>
  <ion-card>
    <ion-col>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Realizar busqueda</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="subCategoria" color="medium">Seleccione año</ion-label>
          <ion-select multiple="false" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="2019">2019</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="medium">Seleccione mes</ion-label>
          <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="Enero">Enero</ion-select-option>
            <ion-select-option value="Febrero">Febrero</ion-select-option>
            <ion-select-option value="Marzo">Marzo</ion-select-option>
            <ion-select-option value="Abril">Abril</ion-select-option>
            <ion-select-option value="Mayo">Mayo</ion-select-option>
            <ion-select-option value="Junio">Junio</ion-select-option>
            <ion-select-option value="Julio">Julio</ion-select-option>
            <ion-select-option value="Agosto">Agosto</ion-select-option>
            <ion-select-option value="Septiembre">Septiembre</ion-select-option>
            <ion-select-option value="Octubre">Octubre</ion-select-option>
            <ion-select-option value="Noviembre">Noviembre</ion-select-option>
            <ion-select-option value="Diciembre">Diciembre</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="medium">Seleccione cuenta</ion-label>
          <ion-select multiple="true">
            <ion-select-option value="Mastercard">Mastercard</ion-select-option>
            <ion-select-option value="CMR">CMR</ion-select-option>
            <ion-select-option value="Cencosud">Cencosud</ion-select-option>
            <ion-select-option value="Visa">Visa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block">Buscar</ion-button>
    </ion-col>
  </ion-card>
  <ion-label>
  </ion-label>
  <ion-card class="totalCardHeaders">
    <ion-row>
      <ion-col>
        <b>Deuda</b>
      </ion-col>
      <ion-col>
        <b>Cuenta</b>
      </ion-col>
      <ion-col>
        <b>Cuota</b>
      </ion-col>
      <ion-col>
        <b>C/R</b>
      </ion-col>
      <ion-col>
        <b>Monto</b>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row *ngFor="let deuda of listaDeudas">
        <ion-col>
          <p>{{deuda.deuda}}</p>
        </ion-col>
        <ion-col>
          <p>{{deuda.cuenta}}</p>
        </ion-col>
        <ion-col>
          <p>{{deuda.cuota}}</p>
        </ion-col>
        <ion-col>
          <p>{{deuda.cuotaRestante}}</p>
        </ion-col>
        <ion-col>
          <p>{{deuda.monto}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="totalCard">
    <ion-grid>
      <ion-row>
        <ion-col>
          Total
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          16990
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>