/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.totalCard {
  background-color: white;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.totalCardHeaders {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

p {
  font-size: 12px;
  word-break: break-all;
}

ion-grid {
  --ion-grid-padding: 0;
}

.ingresoValores {
  --inner-padding-start: 0px;
}
